.savoir-faire {
    display: flex;
    flex-dirertion: row;
    flex-wrap: wrap;
}

.savoir-faire>div {
    margin-right: 10px;
    margin-top: 10px;
}

.savoir-faire>div:last-child {
    margin-right: 0px;
}
